<%@ CodeTemplate Language="C#" TargetLanguage="CFC" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<script runat="template">
	<!-- #include file="../scripts/CFType.cs" -->
	<!-- #include file="../scripts/SQLType.cs" -->
	<!-- #include file="../scripts/InputStyle.cs" -->
	<!-- #include file="../scripts/InputSize.cs" -->
	<!-- #include file="../scripts/InputJS.cs" -->
	<!-- #include file="../scripts/InputValue.cs" -->
	<!-- #include file="../scripts/SplitCamelCase.cs" -->
	public override string GetFileName() {
		if (SourceTable.Name.Length > 3 && SourceTable.Name.Substring(0, 3) == "tbl") 
			return SourceTable.Name.Substring(3) + ".js";
		else
			return SourceTable.Name + ".js";
	}
</script>
<% 
string strSourceTable = SourceTable.Name;
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "tbl") { 
		if (SourceTable.Name.Length > 3 && SourceTable.Name.Substring(0, 3) == "tbl") 
			 strSourceTable = strSourceTable.Substring(3);
		else
			 strSourceTable = strSourceTable + ".js";
}
%>
//-------------------------------------------------------------------------------------------------
//	Copyright(c) 2003-2018 DACdb, LLC..
//	<%=strSourceTable %>.js
//	Modifications
//		<%= DateTime.Now.ToShortDateString() %> - created
//-------------------------------------------------------------------------------------------------

$(document).ready(function(){
	var pagenum = 1;

	$(".headersearch").focus();

	$( "#programconfig" ).click(function() {
		// alert("programconfig");

		var systemText  = 'Set System Default [Lvl-9]';
		var accountText = "Set "+ $("#Accountlabel").val() + " Default";
		var defaultText = "Set "+ $("#Clublabel").val() + " Default";

		$( "#programwrap" ).load('Dialog/<%=strSourceTable %>Config.cfm?r='+Math.random(), function() {

			$( "#ConfigSortInUse" ).sortable({
				connectWith: ".connectedSortable",
				opacity: 0.6,
				cursor: 'move',
				update: function( e, ui ) {
					var order = $(this).sortable('serialize',{key:'Q'});
						// alert("update="+order);
					$.post("Action/<%=strSourceTable %>ConfigUpdate.cfm?", order);
				}
			});
			$( ".ConfigSortAvail" ).sortable({
				connectWith: ".connectedSortable",
				opacity: 0.6,
				cursor: 'move'
			});

			$("#programwrap").dialog({ modal:true, winWidth:800, width: '75%', buttons: [
				{
					text: systemText,		// (0,0,0)
					click: function() {
					var order = $("#ConfigSortInUse").sortable('serialize', {key:'Q'} );
						$.ajax({
							type: "POST",
							url: "Action/<%=strSourceTable %>ConfigUpdate.cfm?"+order,
							data: {
								System: true
							},
							success: function(data) {
								refreshParent();
								$("#programwrap").dialog("close");
							}
						});
					}
				},
				{
					text: accountText,		// (AccountID, 0,0)
					click: function() {
					var order = $("#ConfigSortInUse").sortable('serialize', {key:'Q'} );
						$.ajax({
							type: "POST",
							url: "Action/<%=strSourceTable %>ConfigUpdate.cfm?"+order,
							data: {
								Account: true
							},
							success: function(data) {
								refreshParent();
								$("#programwrap").dialog("close");
							}
						});
					}
				},
				{
					text: "Reset My Configuration",
					click: function() {
						$.ajax({
							type: "POST",
							url: "Action/<%=strSourceTable %>ConfigUpdate.cfm",
							data: {
								Reset: true
							},
							success: function(data) {
								refreshParent();
								$("#programwrap").dialog("close");
							  }
						});
					}
				},
				{
					text: "Set My Configuration",		// (AccoutID,ClubID,UserID)
					click: function() {
						refreshParent();
						$(this).dialog("close");
					}
				}]
			});
			if ( $("#RoleID").val() < 9 )		// If we are not the super user, delete button
				$(".ui-dialog-buttonpane button:contains('System')").hide();
			if ( $("#RoleID").val() < 7 )		// If we are not the account Admin, delete button
				$(".ui-dialog-buttonpane button:contains('Account')").hide();
			if ( $("#RoleID").val() < 3 )		// If we are not the office, delete button
				$(".ui-dialog-buttonpane button:contains('Club')").hide();
		});
	});

});

