<%@ CodeTemplate Language="C#" TargetLanguage="CFC" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<script runat="template">
	<!-- #include file="../scripts/CFType.cs" -->
	<!-- #include file="../scripts/SQLType.cs" -->
	<!-- #include file="../scripts/InputStyle.cs" -->
	<!-- #include file="../scripts/InputSize.cs" -->
	<!-- #include file="../scripts/InputJS.cs" -->
	<!-- #include file="../scripts/InputValue.cs" -->
	<!-- #include file="../scripts/SplitCamelCase.cs" -->
	public override string GetFileName() {
		if (SourceTable.Name.Length > 3 && SourceTable.Name.Substring(0, 3) == "tbl") 
			return SourceTable.Name.Substring(3) + "Config.cfm";
		else
			return SourceTable.Name + "Config.cfm";
	}
</script>
<% 
string strSourceTable = SourceTable.Name;
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "tbl") { 
	 strSourceTable = strSourceTable.Substring(3);
}
%>
<!-------------------------------------------------------------------------------------------------
	Copyright(c) 2003-2018 DACdb, LLC.
	<%=strSourceTable %>Dialog.cfm
	Modifications
		<%= DateTime.Now.ToShortDateString() %> - created
	Note: Cannot use _ in names - jquery serialiation messes up
---------------------------------------------------------------------------------------------------->	
<cfsetting showdebugoutput="no">
<cfinclude template="/secure.cfm"> 
<cfinclude template="/cfscript/profile.cfm">

<!---
	Get Configure Save Profile Values
--->
<cfset FieldList = GetProfile(SESSION.AccountID, SESSION.ClubID, SESSION.UserID, "<%=strSourceTable %>", "FieldList")>

<cfoutput>
<!--- FieldList=#FieldList#<BR><BR> --->
<cfset strFields =
	"Information:," &
	<% foreach (ColumnSchema column in this.SourceTable.Columns) { %>
		<% if( column.ExtendedProperties.Contains("CS_IsIdentity") && column.ExtendedProperties["CS_IsIdentity"].Value.ToString().ToLower() == "true") continue; %>
		<% if ( column.Name == "dFlag") continue; %>
		<% if ( column.Name == "AccountID") continue; %>
		<% if ( column.Name == "ClubID") continue; %>
		<% if ( column.Name == "Created_By") { %>
		"Created|Created," & 
		"CreatedBy|Created By," & 
		<% } else if ( column.Name == "Created_Tmstmp" ) {%>
		"CreatedTmstmp|Created Tmstmp," &
		<% } else if ( column.Name == "Modified_By" ) {%>
		"Modified|Modified," & 
		"ModifiedBy|Modified By," &
		<% } else if ( column.Name == "Modified_Tmstmp" ) {%>
		"ModifiedTmstmp|Modified Tmstmp">
		<% } else { %>
		"<%= column.Name %>|<%= SplitCamelCase(column.Name) %>," &
		<% } %>
	<% } %>

<div align="Left" style="font-weight:normal">
<P>Configure the Club Listing fields that are displayed here.  Drag and drop the fields in the 'order" in which you want them appear. </P>

<span class="SecHdr3">Fields Displayed:</span><BR>
<span class="text">Selected and position fields and the order in which you want them displayed (long list may be continued on the 2nd line):</span><BR>
<div style="float:left; min-height: 25px; width:100%; padding:5px; background-color:ghostwhite; border:1px solid black; margin-bottom:25px;">
	<ul id="ConfigSortInUse" class="connectedSortable">
		<cfloop index="InUseList" list="#FieldList#">
			<li id="Q_#InUseList#" class="ui-state-highlight" style="height: 25px; vertical-align: baseline;">#InUseList#</li>
		</cfloop>
	</ul>
</div>

<BR>
<span class="SecHdr3">Available Fields:</span><BR>
	<cfloop index="SecData" list="#strFields#" delimiters="#chr(255)#">
			<cfset N = 0>
			<cfset M = 0>
			<cfloop index="F" list="#SecData#" delimiters=",">
				<cfset N = N + 1>
				<cfif N EQ 1>
					<ul class="ConfigSortAvail connectedSortable"><span class="text">#F#</span><BR>
				<cfelse>
					<cfset dbName  = GetToken(f, 1, "|")>
					<cfset strUser = dbName>						<!--- Assume User Field Name is the same as the DBName --->
					<cfif ListLen(F, "|") EQ 2>						<!--- Test to see if a User Field Name was provided --->
						<cfset strUser = GetToken(f, 2, "|")>
					</cfif>
					<cfif ListFindNoCase(FieldList, dbName) EQ 0>	<!--- If the field is not in use, list here --->
						<cfset M = M + 1>
						<li id="Q_#dbName#" class="ui-state-default" style="height: 25px;">#strUser#</li>
					</cfif>
				</cfif>
			</cfloop>
			<cfif M EQ 0><li><strong>[All Used]</strong></li></cfif>
			</UL>
	</cfloop>
</cfoutput>

