<%@ CodeTemplate Language="C#" TargetLanguage="Coldfusion" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<script runat="template">
	<!-- #include file="../scripts/CFType.cs" -->
	<!-- #include file="../scripts/SQLType.cs" -->
	<!-- #include file="../scripts/InputStyle.cs" -->
	<!-- #include file="../scripts/InputSize.cs" -->
	<!-- #include file="../scripts/InputJS.cs" -->
	<!-- #include file="../scripts/InputValue.cs" -->
	<!-- #include file="../scripts/SplitCamelCase.cs" -->
	public override string GetFileName() {
		if (SourceTable.Name.Length > 3 && SourceTable.Name.Substring(0, 3) == "tbl") 
			return SourceTable.Name.Substring(3) + "Dialog.cfm";
		else
			return SourceTable.Name + "Dialog.cfm";
	}
</script>
<% 
string strSourceTable = SourceTable.Name;
string lookupname	  = "";
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "tbl") { 
	 strSourceTable = strSourceTable.Substring(3);
} 
//if (strSourceTable.Substring(0, 2) == "GL" || strSourceTable.Substring(0, 2) == "DL") { 
//	 strSourceTable = strSourceTable.Substring(2);
//} 
%>
<!-------------------------------------------------------------------------------------------------
	Copyright(c) 2003-2022 DACdb, LLC.
	<%=strSourceTable %>Dialog.cfm
	Modifications
		<%= DateTime.Now.ToShortDateString() %> - created
---------------------------------------------------------------------------------------------------->	
<cfsetting showdebugoutput="no">
<cfinclude template="/secure.cfm"> 
<cfinclude template="/cfscript/profile.cfm">

<cfset fDebug = TRUE>
<cftry>
	<cfparam name="<%= SourceTable.Columns[0].Name %>" 		default="0" 			type="numeric">

	<cfset <%=strSourceTable %>Obj = createObject("component", "\CFC\<%=strSourceTable %>").init( <%= SourceTable.Columns[0].Name %>="#<%= SourceTable.Columns[0].Name %>#" ) />
	<cfinvoke component="\CFC\<%=strSourceTable %>DAO" method="Read" <%=strSourceTable %>="#<%=strSourceTable %>Obj#" returnvariable="<%=strSourceTable %>">

	<cfif fDebug><cfoutput><%= SourceTable.Columns[0].Name %>=#<%= SourceTable.Columns[0].Name %>#<BR></cfoutput></cfif>
	<cfoutput>
	<form id="<%=strSourceTable %>Form" name="<%=strSourceTable %>Form">
		<input type="hidden" 	name="<%= SourceTable.Columns[0].Name %>" 	value="#<%= SourceTable.Columns[0].Name %>#">

		<table border="0" cellpadding="2" cellspacing="2" width="100%">
		<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
			<% if( column.ExtendedProperties.Contains("CS_IsIdentity") && column.ExtendedProperties["CS_IsIdentity"].Value.ToString().ToLower() == "true") continue; %>   <%-- Don't generate Identity field --%>
			<% if ( column.Name == "AccountID") continue; %>
			<% if ( column.Name == "ClubID") continue; %>
			<% if ( column.Name == "Created_By") continue; %>
			<% if ( column.Name == "Created_Tmstmp") continue; %>
			<% if ( column.Name == "Modified_By") continue; %>
			<% if ( column.Name == "Modified_Tmstmp") continue; %>
			<TR>
				<TD width="150" class="TDLabel" data-i18n="<%= column.Name %>"><% if ( column.AllowDBNull == false) {%><% } %> <%= SplitCamelCase(column.Name) %>:&nbsp;</TD>
				<% if ( column.Name.Substring(0,2) == "Is" && column.Size == 1) {%>
				<TD class="TDData">
					<select id="<%= column.Name %>" name="<%= column.Name %>" class="<%= InputStyle(column) %>" <% if ( column.AllowDBNull == false) {%> required <% } %>>
						<option value="N" <cfif <%=strSourceTable %>.<%= column.Name %> EQ "N"> selected </cfif> > No </option>
						<option value="Y" <cfif <%=strSourceTable %>.<%= column.Name %> EQ "Y"> selected </cfif> > Yes </option>
					</select>
					<span id="invalid-<%= column.Name %>" ></span> <span class="small"></span>
				</TD>
				<% } else if ( column.Name == "dFlag") {%>
				<TD class="TDData">
					<select id="<%= column.Name %>" name="<%= column.Name %>" class="<%= InputStyle(column) %>">
						<option value="N" <cfif <%=strSourceTable %>.<%= column.Name %> EQ "N"> selected </cfif> > No </option>
						<option value="Y" <cfif <%=strSourceTable %>.<%= column.Name %> EQ "Y"> selected </cfif> > Yes </option>
					</select>
					<span id="invalid-<%= column.Name %>" ></span> <span class="small"></span>
				</TD>
				<% } else if ( column.Name == "Gender" ) {%>
				<TD class="TDData">
					<select id="<%= column.Name %>" name="<%= column.Name %>" class="<%= InputStyle(column) %>">
						<option value=""  <cfif<%=strSourceTable %>.<%= column.Name %>  EQ ""> selected </cfif>>  {Select} </option>
						<option value="M" <cfif <%=strSourceTable %>.<%= column.Name %> EQ "M"> selected </cfif> > Male </option>
						<option value="F" <cfif <%=strSourceTable %>.<%= column.Name %> EQ "F"> selected </cfif> > Female </option>
					</select>
					<span id="invalid-<%= column.Name %>" ></span> <span class="small"></span>
				</TD>
				<% } else if ( column.Name.IndexOf("StateCode") != -1) { %>
				<TD class="TDData">
					<cfinvoke component="\CFC\StateCodeDAO"	method="Pick"	returnvariable="qStateCode">
					<select id="<%= column.Name %>" name="<%= column.Name %>" class="TxtIn" <% if ( column.AllowDBNull == false) {%> required <% } %>>
						<option value="">Select one...</option>
						<cfloop query="qStateCode">
							<option value="#StateCode#" <cfif StateCode EQ <%=strSourceTable %>.<%= column.Name %>>selected</cfif>>#StateName#</option>
						</cfloop>
					</select>
					<span id="invalid-<%= column.Name %>" ></span> <span class="small"></span>
				</TD>
				<% } else if ( column.Name.IndexOf("CountryCode") != -1) { %>
				<TD class="TDData">
					<cfinvoke component="\CFC\CountryCodeDAO"	method="Pick"	returnvariable="qCountryCode">
					<select id="<%= column.Name %>" name="<%= column.Name %>" class="TxtIn" <% if ( column.AllowDBNull == false) {%> required <% } %>>
						<option value="">Select one...</option>
						<cfloop query="qCountryCode">
							<option value="#CountryCode#" <cfif CountryCode EQ <%=strSourceTable %>.<%= column.Name %>>selected</cfif>>#CountryName#</option>
						</cfloop>
					</select>
					<span id="invalid-<%= column.Name %>" ></span> <span class="small"></span>
				</TD>
				<% } else if ( column.Size < 0 ) {%>
				<TD class="TDData">
					<textarea id="<%= column.Name %>" name="<%= column.Name %>" <%= InputSize(column) %> class="<%= InputStyle(column) %>"  onkeypress="return noEnter();"	placeholder="Enter <%= SplitCamelCase(column.Name) %>">#<%=strSourceTable %>.<%= column.Name %>#</textarea>
					<span id="invalid-<%= column.Name %>" ></span> <span class="small"></span>
				</TD>
				<% } else if ( column.Name.Substring( column.Name.Length-2) == "ID" ) {%>
			<% lookupname = column.Name.Substring( 0, column.Name.Length-2); %>
				<cfinvoke component="\CFC\<%= lookupname %>DAO"		method="Pick"	returnvariable="q<%= lookupname %>">
				<TD class="TDData">
					<select id="<%= column.Name %>" name="<%= column.Name %>" class="TxtIn" <% if ( column.AllowDBNull == false) {%> required <% } %>>
						<option value="">Select one...</option>
						<cfloop query="q<%= lookupname %>">
							<option value="#<%= column.Name %>#" <cfif <%= column.Name %> EQ <%=strSourceTable %>.<%= column.Name %>> selected </cfif>>#<%= lookupname %>#</option>
						</cfloop>
					</select>
				</TD>
				<% } else { %>
				<TD class="TDData">
					<% if ( CFType(column) == "date") {%>
					<input id="<%= column.Name %>" type="Text" name="<%= column.Name %>" value="#DateFormat(<%=strSourceTable %>.<%= column.Name %>,'mm/dd/yyyy')#" <%= InputSize(column) %> class="<%= InputStyle(column) %> Date" <%= InputJS(column) %>>
					<% } else if ( column.NativeType == "money" || column.NativeType == "decimal" || column.NativeType == "float") {%>
					<input id="<%= column.Name %>" type="Text" name="<%= column.Name %>" value="#DecimalFormat(<%=strSourceTable %>.<%= column.Name %>)#" <%= InputSize(column) %> class="<%= InputStyle(column) %> DecimalFormat" <%= InputJS(column) %>>
					<% } else if ( column.NativeType == "bigint" || column.NativeType == "int" || column.NativeType == "numeric") {%>
					<input id="<%= column.Name %>" type="Text" name="<%= column.Name %>" value="#NumberFormat(<%=strSourceTable %>.<%= column.Name %>, '9,999')#" <%= InputSize(column) %> class="<%= InputStyle(column) %> MinZero" <%= InputJS(column) %>>
					<% } else {%>
					<input id="<%= column.Name %>" type="Text" name="<%= column.Name %>" value="#<%=strSourceTable %>.<%= column.Name %>#" <%= InputSize(column) %> class="<%= InputStyle(column) %>" <%= InputJS(column) %>  <% if ( column.AllowDBNull == false) {%> required <% } %>	placeholder="Enter <%= SplitCamelCase(column.Name) %>">
					<% } %>
					<span id="invalid-<%= column.Name %>" ></span> <span class="small"></span>
				</TD>
				<% } %>
			</TR>
		<% } %>
		</table>
	</form>
	</cfoutput>

	<cfcatch><cffile action="WRITE"  file="#ExpandPath(".")#/<%=strSourceTable %>Dialog.html"  output="<%=strSourceTable %>Dialog Error:<BR>#cfcatch.message#<br>#cfcatch.detail#"><cfabort></cfcatch>
</cftry>