<%@ CodeTemplate Language="C#" TargetLanguage="CFC" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<script runat="template">
	<!-- #include file="../scripts/CFType.cs" -->
	<!-- #include file="../scripts/SQLType.cs" -->
	<!-- #include file="../scripts/InputStyle.cs" -->
	<!-- #include file="../scripts/InputSize.cs" -->
	<!-- #include file="../scripts/InputJS.cs" -->
	<!-- #include file="../scripts/InputValue.cs" -->
	<!-- #include file="../scripts/SplitCamelCase.cs" -->
	<!-- #include file="../scripts/ReplaceNum.cs" -->
	<!-- #include file="../scripts/cfcInitDefault.cs" -->
	<!-- #include file="../scripts/CFInitType.cs" -->
	public override string GetFileName() {
		if (SourceTable.Name.Length > 3 && SourceTable.Name.Substring(0, 3) == "tbl") 
			return SourceTable.Name.Substring(3) + "Save.cfm";
		else
			return SourceTable.Name + "Save.cfm";
	}
</script>
<% 
string strSourceTable = SourceTable.Name;
string fieldNames = "";
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "tbl") { 
	 strSourceTable = strSourceTable.Substring(3);
} 
%>
<!-------------------------------------------------------------------------------------------------
	Copyright(c) 2003-2022 DACdb, LLC.
	<%=strSourceTable %>Save.cfm
	Modifications
		<%= DateTime.Now.ToShortDateString() %> - created
		
	<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
	<% if ( column.Name == "dFlag") continue; %>
	<% if ( column.Name == "AccountID") continue; %>
	<% if ( column.Name == "ClubID") continue; %>
	<% if ( column.Name == "Created_By") continue; %>
	<% if ( column.Name == "Created_Tmstmp") continue; %>
	<% if ( column.Name == "Modified_By") continue; %>
	<% if ( column.Name == "Modified_Tmstmp") continue; %>
	<cfset FORM.<%= column.Name %> = "<%= cfcInitDefault(column) %>">
		<% fieldNames =fieldNames + column.Name + ","; %>
	<% } %>
	<cfset FORM.FieldNames = "<%= fieldNames.Substring( 0, fieldNames.Length-1)  %>">
---------------------------------------------------------------------------------------------------->	
<cfinclude template="/secure.cfm">
<cfsetting enablecfoutputonly	= "TRUE" /> 
<cfsetting showdebugoutput		= "No">

<cfset fDebug = TRUE>
<cfif fDebug>
	<cfsavecontent variable="PageData">
	<cfdump var="#Form#">
	</cfsavecontent>
	<cffile action="WRITE"  file="#ExpandPath(".")#/<%=strSourceTable %>Save.html"  output="<%=strSourceTable %>Save:<BR>#PageData#">
</cfif>

<cftry>
	<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
	<% if ( column.Name == "dFlag") continue; %>
	<% if ( column.Name == "AccountID") continue; %>
	<% if ( column.Name == "ClubID") continue; %>
	<% if ( column.Name == "Created_By") continue; %>
	<% if ( column.Name == "Created_Tmstmp") continue; %>
	<% if ( column.Name == "Modified_By") continue; %>
	<% if ( column.Name == "Modified_Tmstmp") continue; %>
	<% if ( CFType(column) == "numeric" ) { %>
    <cfparam name="FORM.<%= column.Name %>"			default="<%= cfcInitDefault(column) %>"			type="string">
	<%} else { %>
    <cfparam name="FORM.<%= column.Name %>"			default="<%= cfcInitDefault(column) %>"			type="<%= CFInitType(column) %>">
	<% } %>
	<% } %>
	<cfparam name="FORM.FieldNames"			Default="<%= fieldNames.Substring( 0, fieldNames.Length-1) %>"	type="string">
 
 	<cfset returnStruct 		= structNew() />
	<cfset returnStruct.success = TRUE />
	<cfset returnStruct.error   = "" />

<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
<% if( column.ExtendedProperties.Contains("CS_IsIdentity") && column.ExtendedProperties["CS_IsIdentity"].Value.ToString().ToLower() == "true") continue; %>   <%-- Don't generate Identity field --%>
<% if ( column.Name == "dFlag") continue; %>
<% if ( column.Name == "AccountID") continue; %>
<% if ( column.Name == "ClubID") continue; %>
<% if ( column.Name == "Created_By") continue; %>
<% if ( column.Name == "Created_Tmstmp") continue; %>
<% if ( column.Name == "Modified_By") continue; %>
<% if ( column.Name == "Modified_Tmstmp") continue; %>
<% if ( column.Name.Substring( column.Name.Length-2) == "ID" ) continue; %>
	<% if ( CFType(column) == "numeric" ) { %>
	<cfset FORM.<%= column.Name %>	= REReplace(FORM.<%= column.Name %>, "[^0-9\.]+", "", "ALL")>
	<% } %>
<% } %>

	<!---  
		Read in current values -- initialize defaults
	--->
	<cfset <%=strSourceTable %>Obj = createObject("component", "\CFC\<%=strSourceTable %>").init( <%= SourceTable.Columns[0].Name %>="#<%= SourceTable.Columns[0].Name %>#" ) />
	<cfinvoke component="\CFC\<%=strSourceTable %>DAO" method="Read" <%=strSourceTable %>="#<%=strSourceTable %>Obj#" returnvariable="<%=strSourceTable %>">

	<!--- Update the <%=strSourceTable %> with changes from the FORM --->
	<cfinvoke component="\CFC\<%=strSourceTable %>" method="init" ArgumentCollection="#<%=strSourceTable %>#"  returnvariable="<%=strSourceTable %>Obj"> 
		<cfloop Index="theField" list="#Form.FieldNames#">
			<cfinvokeargument name="#theField#"			Value="#Form[theField]#">
		</cfloop>
		------------- or --------------
		<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
	<% if ( column.Name == "dFlag") continue; %>
	<% if ( column.Name == "AccountID") continue; %>
	<% if ( column.Name == "ClubID") continue; %>
	<% if ( column.Name == "Created_By") continue; %>
	<% if ( column.Name == "Created_Tmstmp") continue; %>
	<% if ( column.Name == "Modified_By") continue; %>
	<% if ( column.Name == "Modified_Tmstmp") continue; %>
		<cfinvokeargument name="<%= column.Name %>"			Value="#Form.<%= column.Name %>#">
	<% } %>
	</cfinvoke> 
	
	<cfinvoke component="\CFC\<%=strSourceTable %>DAO" method="Save" <%=strSourceTable %>="#<%=strSourceTable %>Obj#" returnvariable="<%= SourceTable.Columns[0].Name %>">
	<cfif <%= SourceTable.Columns[0].Name %> EQ 0>
		<cfset returnStruct.success = FALSE />
		<cfset returnStruct.error   = "Could not save <%=strSourceTable %>" />
	</cfif>

	<!--- 
		Return JSON structure
	 --->		
	<cfoutput>#serializeJSON(returnStruct)#</cfoutput> 
	<cfsetting enablecfoutputonly="FALSE" />
	<cfcatch>
		<CF_XLog table="<%=strSourceTable %>" type="E" Value="#<%=strSourceTable %>ID#" Desc="Error saving <%=strSourceTable %>: #cfcatch.message#">		
		<cffile action="APPEND"  file="#ExpandPath(".")#/<%=strSourceTable %>Save.html"  output="<%=strSourceTable %>Save Error:<BR>#cfcatch.message#<br>#cfcatch.detail#">
		<cfset returnStruct.error   = "#cfcatch.message#<br>#cfcatch.detail#">
		<cfset returnStruct.success = FALSE>
		<cfoutput><cfoutput>#serializeJSON(returnStruct)#</cfoutput></cfoutput> 
	</cfcatch>
</cftry>
