<%@ CodeTemplate Language="C#" TargetLanguage="CFC" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<script runat="template">
<!-- #include file="../scripts/CFType.cs" -->
<!-- #include file="../scripts/cfcInitDefault.cs" -->
<!-- #include file="../scripts/CFDefault.cs" -->
<!-- #include file="../scripts/SplitCamelCase.cs" -->
public override string GetFileName() {
	return "Add.cfm";
}
</script>
<% 
bool fAccountID = false;
bool fdFlag 	= false;
bool fIsActive 	= false;
bool fOrgYear 	= false;
string strSourceTable = SourceTable.Name;
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "tbl") { 
	 strSourceTable = strSourceTable.Substring(3);
} 
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "GL_") { 
	 strSourceTable = strSourceTable.Substring(3);
} 

int col = 0;
foreach (ColumnSchema column in this.SourceTable.Columns) {  
	if (column.Name == "AccountID") { 
		fAccountID = true;
	}
	if (column.Name == "dFlag") { 
		fdFlag = true;
	} 
	if (column.Name == "IsActive") { 
		fIsActive = true;
	} 
	if (column.Name == "OrgYear") { 
		fOrgYear = true;
	} 
} 
%>
<!-------------------------------------------------------------------------------------------------
	<%= strSourceTable %> - Add.cfm
---------------------------------------------------------------------------------------------- --->

<cfinvoke component="\CFC\<%= strSourceTable %>" method="Init" returnvariable="<%= strSourceTable %>Obj">
<cfset <%= strSourceTable %> = <%= strSourceTable %>Obj.getMemento()>

<cfset N = 0>
<div class="tablewrapper">
<div class="tabletitle"><%= SplitCamelCase(strSourceTable) %></div>
<table border="0" cellpadding="0" cellspacing="0" class="tablesorter hasStickyHeaders" width="100%">
	<THEAD>
	<TR>
		<cfinclude template="TH.cfm">
	</tr>
	</THEAD>
	<tr class="addrow" >
		<cfoutput>
<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
<%  if (column.ExtendedProperties.Contains("CS_IsIdentity") && column.ExtendedProperties["CS_IsIdentity"].Value.ToString().ToLower() == "true") { %>
		<TD class="TableCellC small" data-sorter="false">new</TD>
<% } else { %>
	<%  switch (column.Name.ToLower() )  %>
	<% { %>
		<% case "positionsort":	%>
		<% case "sequence":	%>
			<% break; %>
		<% case "isactive":	%>
		<TD class="TableCellC"><input type="checkbox" 	name="IsActive" 	value="Y"		checked class="TxtInC"></td>
			<% break; %>
		<% case "modified_tmstmp":	%>
		<% case "modified_by":		%>
		<% case "created_tmstmp":	%>
		<% case "created_by":		%>
		<% case "accountid":		%>
			<% break; %>
		<% case "orgyear":		%>
			<% break; %>
		<% case "securitylevel":		%>
			<cfinvoke component="\cfc2\UserRoleDAO" method="View" returnvariable="UserRoleQ">  <!--- Maybe move to the top? --->
			<select name="SecurityLevel" class="TxtIn">
				<cfloop query="UserRoleQ">
					<option value="#SecurityLevel#">#SecurityLevel#-#Evaluate(DE(UserRole))#</option>
				</cfloop>
			</select>
			<% break; %>
		<% default:%>
			<% string strColType = column.NativeType;	%>
			<% switch (strColType)	%>
				<% {	%>
					<% case "bit":		%>
					<% case "bigint":	%>
					<% case "int":		%>
					<% case "numeric":	%>
					<% case "smallint":	%>
					<% case "tinyint":	%>
					<% if ( column.Name.ToLower() != "positionsort" && column.Name.ToLower() != "sequence") { %>
		<TD class="TableCellL"><input type="Text" name="<%= column.Name %>"		value="#<%= strSourceTable %>.<%= column.Name %>#"		size="<%= column.Size %>"	maxlength="<%= column.Size %>"	class="TxtInC MinZero" onkeypress="return noEnter(event);" ></TD>
						<% } %>
						<% break; %>
					<% case "decimal":	%>
					<% case "money":	%>
		<TD class="TableCellL"><input type="Text"	name="<%= column.Name %>"		value="#DecimalFormat(<%= strSourceTable %>.<%= column.Name %>)#"	size="<%= column.Size %>"	maxlength="<%= column.Size %>"	class="TxtIn"	onChange="checkRow('#N#');"	onkeypress="return noEnter(event);"></td>
						<% break; %>
					<% case "float":	%>
				<TD class="TableCellL"><input type="Text"	name="<%= column.Name %>_#N#"		value="#NumberFormat(<%= strSourceTable %>.<%= column.Name %>,'9,999.9')#"	size="<%= column.Size %>"	maxlength="<%= column.Size %>"   class="TxtIn"	onChange="checkRow('#N#');"	onkeypress="return noEnter(event);"></td>
						<% break; %>
					<% case "char":		%>
		<% if ( column.Size == 1 ) { %>
		<TD class="TableCellC">
			<input type="checkbox"	name="<%= column.Name %>"		value="Y"	<% if ( CFDefault(column) == "Y" ) { %>checked<% } %> class="TxtIn"	onkeypress="return noEnter(event);">
				-- or --
			<select id="<%= column.Name %>" name="<%= column.Name %>" class="TxtIn">
				<option value="N" <% if ( CFDefault(column) == "N" ) { %>selected<% } %>>No	</option>
				<option value="Y" <% if ( CFDefault(column) == "Y" ) { %>selected<% } %>>Yes</option>
			</select>
		</td>
		<% } else { %>
		<TD class="TableCellL"><input type="Text" name="<%= column.Name %>"		value="#<%= strSourceTable %>.<%= column.Name %>#"		size="<%= column.Size %>"	maxlength="<%= column.Size %>"	class="TxtIn" onChange="checkRow('#N#');"  onkeypress="return noEnter(event);" ></TD>
		<% } %>
						<% break; %>
					<% case "nvarchar":	%>
					<% case "varchar":	%>
						<% if ( column.Size < 1) { %>
		<TD class="TableCellL"><textarea name="<%= column.Name %>" rows="2" cols="40" class="TxtIn">#<%= strSourceTable %>.<%= column.Name %>#</textarea></TD>
						<% } else { %>
		<TD class="TableCellL"><input type="Text" name="<%= column.Name %>"		value="#<%= strSourceTable %>.<%= column.Name %>#"		size="<%= column.Size %>"	maxlength="<%= column.Size %>"	class="TxtIn" onkeypress="return noEnter(event);" ></TD>
						<% } %>
						<% break; %>
					<% case "xml":		%>
					<% case "date":		%>
					<% case "datetime":	%>
					<% case "smalldatetime":	%>
		<TD class="TableCellL"><input type="Text" name="<%= column.Name %>"		value="#<%= strSourceTable %>.<%= column.Name %>#"		size="<%= column.Size %>"	maxlength="<%= column.Size %>"	class="TxtIn" onkeypress="return noEnter(event);" ></TD>
						<% break; %>
					<% default:	%>
						<% break; %>
				<% } %>
			<% break; %>
		<% } %>
	<% } %>
<% } %>
		</cfoutput>
	</tr>
	<cfoutput query="Q">
		<cfset N = N + 1>
		<tr id="Q_#Q.<%= SourceTable.Columns[0].Name %>#">
			<cfinclude template="TD.cfm">
		</tr>
	</cfoutput>
</table>

