<%@ CodeTemplate Language="C#" TargetLanguage="CFC" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<script runat="template">
<!-- #include file="../scripts/CFType.cs" -->
<!-- #include file="../scripts/cfcInitDefault.cs" -->
<!-- #include file="../scripts/CFDefault.cs" -->
<!-- #include file="../scripts/SplitCamelCase.cs" -->
public override string GetFileName() {
	return "TH.cfm";
}
</script>
<% 
bool fAccountID = false;
bool fdFlag 	= false;
bool fIsActive 	= false;
bool fOrgYear 	= false;
string strSourceTable = SourceTable.Name;
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "tbl") { 
	 strSourceTable = strSourceTable.Substring(3);
} 
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "GL_") { 
	 strSourceTable = strSourceTable.Substring(3);
} 
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "RLI") { 
	 strSourceTable = strSourceTable.Substring(3);
} 
int col = 0;
foreach (ColumnSchema column in this.SourceTable.Columns) {  
	if (column.Name == "AccountID") { 
		fAccountID = true;
	}
	if (column.Name == "dFlag") { 
		fdFlag = true;
	} 
	if (column.Name == "IsActive") { 
		fIsActive = true;
	} 
	if (column.Name == "OrgYear") { 
		fOrgYear = true;
	} 
} 
%>
<!-------------------------------------------------------------------------------------------------
	<%= strSourceTable %> TH.cfm
---------------------------------------------------------------------------------------------------->
<cfoutput>
<% int n=0; %>
	<TH width="2%" class="TableHeadC" data-sorter="false">
		<div class="noprint">
			<input  type="Checkbox"	name="CheckAll" checked 	class="CheckAll"	id="CheckAll">
		</div>
	</TH>

<!--- Moveable columns --->
	<cfloop index="Column" list="#FieldList#">
		<cfswitch expression="#Column#">
<% foreach (ColumnSchema column in this.SourceTable.Columns) {  %>
<% n=n+1; %>
<%  if (column.ExtendedProperties.Contains("CS_IsIdentity") && column.ExtendedProperties["CS_IsIdentity"].Value.ToString().ToLower() == "true") { %>
			<TH class="TableHeadC" width="25" <!--- data-sorter="false" --->>ID</TH>
<% } else { %>
	<%  switch (column.Name.ToLower() )  %>
	<% { %>
		<% case "positionsort":	%>
		<% case "sequence":	%>
			<% break; %>
		<% case "isactive":	%>
			<cfcase value="<%= column.Name %>">	<TH class="TableHeadC" width="50">Active</TH>		</cfcase>
			<% break; %>
	<% case "modified_tmstmp":	%>
			<cfcase value="<%= column.Name %>">	<TH class="TableHeadC sorter-shortDate dateFormat-mmddyy" width="100">Modified</TH>		</cfcase>
			<% break; %>
		<% case "modified_by":		%>
			<cfcase value="<%= column.Name %>">	<TH class="TableHeadC width="100">Modified By</TH>		</cfcase>
			<% break; %>
		<% case "created_tmstmp":	%>
			<cfcase value="<%= column.Name %>">	<TH class="TableHeadC sorter-shortDate dateFormat-mmddyy" width="100">Created</TH>		</cfcase>
			<% break; %>
		<% case "created_by":		%>
			<cfcase value="<%= column.Name %>">	<TH class="TableHeadC width="100">Created By</TH>		</cfcase>
			<% break; %>
		<% case "accountid":		%>
		<% case "clubid":		%>
		<% case "dflag":		%>
		<% case "orgyear":		%>
			<% break; %>
		<% default:%>
			<cfcase value="<%= column.Name %>">	<TH class="TableHeadL" width="<%= column.Size %>"<% if (n==2) { %> style="white-space:nowrap;"<% }%>><%= SplitCamelCase(column.Name) %></TH>		</cfcase>
			<% break; %>
		<% } %>
	<% } %>
<% } %>
		</cfswitch>
	</cfloop>
</cfoutput>