<%@ CodeTemplate Language="C#" TargetLanguage="CFC" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." %>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Import Namespace="SchemaExplorer" %>
<script runat="template">
	<!-- #include file="../scripts/CFType.cs" -->
	<!-- #include file="../scripts/SQLType.cs" -->
	<!-- #include file="../scripts/InputStyle.cs" -->
	<!-- #include file="../scripts/InputSize.cs" -->
	<!-- #include file="../scripts/InputJS.cs" -->
	<!-- #include file="../scripts/InputValue.cs" -->
</script>
<% 
string strSourceTable = SourceTable.Name;
if (strSourceTable.Length > 3 && strSourceTable.Substring(0, 3) == "tbl") { 
	 strSourceTable = strSourceTable.Substring(3);
} 
%>
<!-------------------------------------------------------------------------------------------------
	Copyright(c) 2010-<%= DateTime.Now.ToString("yyyy") %> DACdb, LLC.
	<%=strSourceTable %>s.cfm
	Modifications
		<%= DateTime.Now.ToShortDateString() %> $ - created
---------------------------------------------------------------------------------------------------->	
<cfinclude template="../secure.cfm"> 
<cfsetting showdebugoutput="no">

<cfoutput>
<li>
	<a href="Index.cfm?ClubID=#ClubID#"><%=strSourceTable %> Listing</a>
</li>

